/* google fonts - poppins, inter, merriweather sans & roboto */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwind styles */
@import "tailwindcss";

@theme {
  /* colors */
  --color-dashboard-primary: #2d67b2;
  --color-dashboard-primary-hover: #24559a;
  --color-primary: #fff;
  --color-accent: #fff;
  --color-on-primary: #fff;

  /* fonts */
  --font-inter: "Inter", serif;
  --font-merriweather: Merriweather Sans, serif;
  --font-poppins: "Poppins", serif;
  --font-roboto: Roboto, serif;
}
